.movieFavorite {
  padding: 5rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .movieFavorite__title {
    font-family: var(--ff-titles);
    font-size: var(--fs-16);
    font-weight: var(--fw-semi-bold);

    @media (min-width: 40rem) {
      font-size: var(--fs-18);
    }
  }

  .carrousel {
    position: relative;
    width: fit-content;
    max-width: 100%;
    display: flex;
    overflow: hidden;

    .carrousel__arrow {
      height: 100%;
      position: absolute;
      border: none;
      cursor: pointer;
      z-index: 2;
      background: transparent;
      transition: all 0.2s ease-in-out;

      .icone {
        width: 2rem;
        height: 100%;
      }
    }

    .left__arrow {
      left: 0;
      box-shadow: inset 45px 0 10px -15px var(--bg-hover-arrows-off-arrows);

      .icone {
        &:hover {
          box-shadow: inset 45px 0 10px -15px var(--bg-hover-arrows-on-arrows);
        }
      }
    }

    .right__arrow {
      right: 0;
      box-shadow: inset -45px 0 10px -15px var(--bg-hover-arrows-off-arrows);

      .icone {
        &:hover {
          box-shadow: inset -45px 0 10px -15px var(--bg-hover-arrows-on-arrows);
        }
      }
    }

    .movies {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .movieFavorite__list {
        display: flex;
        gap: 1rem;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: thin; /* Présente car flèches ne marche pas*/
        scrollbar-color: var(--scrollbar-color) transparent;
        scroll-snap-type: x mandatory;

        .movieFavorite__item {
          flex: 0 0 10rem;
          scroll-snap-align: start;
          position: relative;
          z-index: 1;

          &:hover {
            z-index: 10;
          }

          .card {
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .card__img-container {
              .card__img {
                width: 100%;
                aspect-ratio: 3 / 4;
                border-radius: 4px;
              }
            }

            .card__infos {
              display: none;
            }

            @media (min-width: 40rem) {
              .card__infos {
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                opacity: 0;
                border-radius: 4px;
                background-color: var(--bg-hover-movies);
                transform: scale(1.2) translateY(1.25rem);
                transition: all 0.2s linear;
                z-index: 1;

                .detail__trailer {
                  border-radius: 4px;
                }

                .movie__infos {
                  padding: 0rem 1rem 1rem;
                  display: flex;
                  flex-direction: column;
                  gap: 0.75rem;

                  .movie__small {
                    .small__infos {
                      display: flex;
                      gap: 0.25rem;
                      font-size: var(--fs-12);
                      font-weight: var(--fw-semi-bold);
                      color: var(--fg-nav);
                    }

                    .movie__title {
                      font-size: var(--fs-14);
                    }
                  }
                }

                .movie__btns {
                  display: flex;
                  flex-direction: row;
                  gap: 1rem;

                  .movie__watch {
                    width: 100%;
                    padding: 0.75rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    border-radius: 5px;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: var(--fs-14);
                    font-weight: var(--fw-semi-bold);
                    color: var(--fg-info);
                    background-color: var(--bg-info);

                    .icone {
                      width: 1rem;
                      height: 1rem;
                    }
                  }

                  .myfavorite {
                    .myfavorite__removeFavorite {
                      cursor: pointer;

                      .icone {
                        width: 2.5rem;
                        border: solid 1px var(--border-movie-btns);
                        height: 2.5rem;
                        border-radius: 50px;
                        padding: 0.5rem;
                        background-color: var(--clr-dark);
                        transition: all 0.1s ease-in-out;

                        &:hover {
                          background-color: var(--bg-hover-movie-btns);
                        }
                      }
                    }
                  }
                }

                .card__removeFavorite {
                  cursor: pointer;
                }
              }
            }
            &:hover {
              .card__infos {
                opacity: 1;
              }
            }
          }
          @media (min-width: 40rem) {
            flex: 0 0 15rem;
          }
        }
      }
    }
  }
}
