<li onclick="C.handlerMovieDetail('{{movieId}}')" class="movieFavorite__item">
  <figure class="card">
    <div class="card__img-container">
      <img
        src="../server/images/{{sourceAffiche}}"
        alt="affiche-film"
        class="card__img"
      />
    </div>
    <figcaption class="card__infos">
      <iframe
      src="{{movieTrailer}}&autoplay=1&mute=1&controls=0&modestbranding=1&rel=0&cc_load_policy=0"
      frameborder="0"
      class="detail__trailer"
      allow="
        accelerometer;
        autoplay;
        clipboard-write;
        encrypted-media;
        gyroscope;
        picture-in-picture;
        web-share;
      "
      allowfullscreen
    ></iframe>
    <div class="movie__infos">
      <div class="movie__small">
          <div class="small__infos">
            <p class="small__info">{{movieCategory}}</p>
            •
            <p class="small__info">{{movieYear}}</p>
            •
            <p class="small__info">{{movieLength}} minutes</p>
            •
            <p class="small__info">-{{movieRestriction}} ans</p>
          </div>
        <p class="movie__title">{{movieTitle}}</p>
    </div>
    <div class="movie__btns">
      <a href="#" class="movie__watch">
          <svg class="icone">
            <use xlink:href="#playBtn"></use>
          </svg>
          Regarder
        </a>
        <div class="myfavorite">
          <span onclick="C.handlerRemoveFavorite('{{movieId}}')" class="myfavorite__removeFavorite">
            <svg class="icone icone__added">
              <use xlink:href="#added"></use>
            </svg>
          </span>
        </div>
    </div>
    </figcaption>
  </figure>
</li>

<svg
  xmlns="http://www.w3.org/2000/svg"
  aria-hidden="true"
  style="position: absolute; width: 0; height: 0; overflow: hidden"
>
  <symbol id="added" viewBox="0 0 24 24">
    <path
      d="M5 13L9 17L19 7"
      stroke="#FAFAFF"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      fill="none"
    />
  </symbol>
</svg>
