.addmovie {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .addmovie__title {
    font-size: var(--fs-28);
    font-family: var(--ff-titles);
    font-weight: var(--fw-semi-bold);
  }

  .addmovie__form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    .addmovie__input {
      height: 3rem;
      font-family: var(--ff-body);
      font-size: var(--fs-16);

      .addmovie__opt {
      }
    }

    .addmovie__desc {
      max-width: 25rem;
      min-height: 3rem;
    }
  }

  .addmovie__button {
    height: 3rem;
    font-size: var(--fs-18);
    font-weight: var(--fw-semi-bold);
    color: var(--fg-btn);
  }
}

@media (min-width: 40rem) {
  .addmovie {
    .addmovie__form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .addmovie__input {
        max-width: 30rem;
      }
      .addmovie__desc {
        max-width: 30rem;
      }
    }
  }
}

@media (min-width: 60rem) {
  .addmovie {
    .addmovie__form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
