@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');

:root {
  --clr-white: hsl(240, 100%, 99%);
  --clr-dark: hsl(243, 40%, 11%);
  --clr-dark-blue: hsl(246, 100%, 6%);
  --clr-blue: hsl(232, 100%, 55%);
  
  --ff-titles: "Sora", sans-serif;
  --ff-body: "Inter", sans-serif;
  
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.25rem;
  --fs-28: 1.75rem;
  
  --fw-semi-bold: 600;
  
  --ls-menus: 0.24px;
  --ls-titles: 0.36px;
  
  /* Sementic Tokens */
  --bg-body: var(--clr-dark-blue);
  --bg-btn: var(--clr-white);
  --bg-accent: var(--clr-dark);
  
  --fg-body: var(--clr-white);
  --fg-btn: var(--clr-blue);
  --fg-accent: var(--clr-white);

}
