<div class="nav__container">
  <svg class="logo" onclick="{{hHome}}">
    <use xlink:href="#logo"></use>
  </svg>
  <input type="checkbox" id="menu-toggle" class="sr-only" />
  <label for="menu-toggle" class="burger">
    <svg class="burger__svg" viewBox="0 0 32 32" width="32" height="21">
      <line
        class="burger__line"
        x1="2"
        y1="7"
        x2="30"
        y2="7"
        stroke="currentColor"
        stroke-width="3"
        stroke-linecap="square"
      />
      <line
        class="burger__line"
        x1="2"
        y1="16"
        x2="30"
        y2="16"
        stroke="currentColor"
        stroke-width="3"
        stroke-linecap="square"
      />
      <line
        class="burger__line"
        x1="2"
        y1="25"
        x2="30"
        y2="25"
        stroke="currentColor"
        stroke-width="3"
        stroke-linecap="square"
      />
    </svg>
    <span class="sr-only">Menu</span>
  </label>

  <nav class="navbar font-sans">
    <ul class="navbar__list">
      <li class="navbar__item" onclick="{{hHome}}">Films</li>
      <li class="navbar__item navbar__item--right">
        <select name="profile" class="profile" onchange="{{hProfiles}}">
          <option value="" class="profileOpt">Choisir un Profil</option>
          {{optionProfiles}}
        </select>
      </li>
      <li class="navbar__item" onclick="{{hDeconnexion}}">Se déconnecter</li>
    </ul>
  </nav>
</div>

<svg
  xmlns="http://www.w3.org/2000/svg"
  width="109"
  height="26"
  viewBox="0 0 109 26"
  fill="none"
>
  <symbol id="logo">
    <path
      d="M0 9.127h5.774v16.549h11.054V9.127h5.774V.4H0v8.727zm32.818 16.549h10.981v-7.957h6.745v-6.33h-6.745V6.73h9.434V.4H32.818v25.276zm30.627 0h11.422V.4L63.445 3.64v22.036zM109 10.88H98.743V.4l-4.672 1.326v9.154H83.868v4.217H94.07v10.579l4.672-1.325v-9.254H109V10.88z"
      fill="#fff"
    ></path>
  </symbol>
</svg>

<svg
  xmlns="http://www.w3.org/2000/svg"
  width="1em"
  height="1em"
  fill="currentColor"
  viewBox="0 0 32 32"
  aria-hidden="true"
  focusable="false"
>
  <symbol id="profileAcc">
    <path
      fill-rule="evenodd"
      d="M16 6.667a4 4 0 1 0 0 8 4 4 0 0 0 0-8m-6.667 4a6.667 6.667 0 1 1 13.334 0 6.667 6.667 0 0 1-13.334 0M7.53 21.142c1.195-1.087 2.816-1.809 4.47-1.809h8c1.654 0 3.275.722 4.47 1.81 1.231 1.12 2.197 2.801 2.197 4.857v2H24v-2c0-1.18-.549-2.18-1.324-2.885C21.9 22.409 20.9 22 20 22h-8c-.9 0-1.9.41-2.676 1.115C8.55 23.82 8 24.82 8 26v2H5.333v-2c0-2.056.966-3.738 2.197-4.858"
      clip-rule="evenodd"
    ></path>
  </symbol>
</svg>
