.movieCategory {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .movieCategory__name {
    font-family: var(--ff-titles);
    font-size: var(--fs-16);
  }

  .movieCategory__list {
    
  }
}

@media (min-width: 40rem) {
  .movieCategory {
    .movieCategory__name {
      font-size: var(--fs-18);
    }
  }
}
