<div class="addprofile">
  <h4 class="addprofile__title">Ajouter ou Modifier un Utilisateur</h4>
  
  <form class="addprofile__form" id="profile_form">
    <select name="id" onchange="C.handlerSelectProfile(this.value)" class="addprofile__input">
      <option value="" class="addprofile__opt">-- Nouveau profil --</option>
      {{optionProfiles}}
    </select>

    <input
      required
      type="text"
      name="nom"
      id="profile_name"
      placeholder="Saisir le nom de l'utilisateur"
      pattern="[^0-9]*"
      title="Les chiffres ne sont pas autorisés"
      class="addprofile__input"
    />
    <input
      required
      type="text"
      name="avatar"
      id="profile_avatar"
      placeholder="Saisir la photo de profil"
      class="addprofile__input"
    />
    <select required name="min_age" id="profile_age" class="addprofile__input">
      <option value="" class="addprofile__opt">
        -- Saisir la restriction d'âge --
      </option>
      <option value="0" class="addprofile__opt">Tous public</option>
      <option value="10" class="addprofile__opt">10</option>
      <option value="12" class="addprofile__opt">12</option>
      <option value="16" class="addprofile__opt">16</option>
      <option value="18" class="addprofile__opt">18</option>
    </select>
  </form>
  <input
    onclick="{{handler}}"
    type="button"
    value="Add"
    name="todo"
    class="addprofile__button"
  />
</div>
